.single-news {

    .content {
        .news__date {
            font-size: 13px;
            line-height: normal;
            color: #4A4A49;
        }

        .news__title {
            margin-top: 0;
            font-weight: bold;
            font-size: 20px;
            line-height: 30px;
            color: #003462;
        }

        .news__content {
            margin-top: 30px;

            .content__img {
                float: left;
                margin-right: 30px;
                margin-bottom: 20px;
                max-width: 570px;
                border-radius: 8px;
            }

            .content__text {
                text-align: left;

                h2, h3, h4 {
                    margin-bottom: 18px;
                    text-align: left;
                }

                img {
                    border-radius: 8px;

                    @media screen and (max-width: $width-l) {
                        max-width: 100%;
                    }
                }
            }
        }
    }

}