//ширина gutenberg
.wp-block {
  max-width: 1200px;
}

//Убрать кнопки " Quick Edit" под постами
.row-actions {
  span {
    &.hide-if-no-js {
      display: none;
    }
  }
}

.template-sections-select {
  ul {
    display: flex !important;
    flex-direction: column;

    li {
      display: block;
      padding: 8px !important;
    }
  }
}
