.brochures-section {
  padding-top: 72px;
  padding-bottom: 72px;
  background-color: #F2F6FC;
  background-repeat: no-repeat;
  background-position: right top;
  background-size: auto 100%;
}

.brochures-section__title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.3;
  text-align: center;
  color: #003462;
  margin-bottom: 48px;
}

.brochures-section__brochures {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  gap: 60px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.brochures-section__brochure {

}

.brochures-section-brochure {

}

.brochures-section-brochure__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  max-width: 340px;
  width: 100%;
  height: auto;
}

.brochures-section-brochure__title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 1.5;
  text-align: center;
  color: #003462;
  margin-bottom: 12px;
}

.brochures-section-brochure__text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: #4A4A49;
  max-width: 582px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
}

.brochures-section-brochure__link-holder {
  text-align: center;
}

.brochures-section-brochure__link {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #005CA9;

  i {
    font-size: 16px;
    margin-right: 5px;
  }

  &:hover {
    text-decoration: none;

    span {
      text-decoration: underline;
    }
  }
}