// Owl Carousel
.owl-carousel:not(.owl-theme-banke) {
  opacity: 0;
  transition: 0.3s ease;
  overflow: hidden;
  max-height: 320px;

  &.m_loaded {
    opacity: 1;
    overflow: visible;
    max-height: none;
  }

  .owl-dots {
    position: absolute;
    right: 0;
    top: -40px;

    .owl-dot {
      width: 10px;
      height: 10px;
      margin-left: 6px;
      background: #dcdcdc !important;
      border-radius: 50%;

      &.active {
        background: #959595 !important;
      }
    }
  }

  .owl-nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    left: 0;
    top: 50%;
    height: 0;

    .owl-prev {
      margin-left: -30px;
      margin-top: -15px;

      &:before {
        font-size: 30px;
        content: "\e900";
        font-family: 'icomoon' !important;
      }

      span {
        display: none;
      }
    }

    .owl-next {
      margin-right: -30px;
      margin-top: -15px;

      &:before {
        font-size: 30px;
        content: "\e901";
        font-family: 'icomoon' !important;
      }

      span {
        display: none;
      }
    }
  }
}


.thin-nav {
  .owl-carousel {
    .owl-nav {
      top: 50%;
      transform: translateY(-50%);

      @media screen and (max-width: 576px) {
        max-width: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .owl-prev, .owl-next {

        &::before {
          color: #91A8BE;
          transition: all .3s ease;
          font-size: 37px;
        }

        &:hover {
          &::before {
            color: #003462;
          }
        }
      }

      .owl-prev {
        &::before {
          content: "\e912";
        }
      }

      .owl-next {
        &::before {
          content: "\e911";
        }
      }
    }
  }
}