.related {
  background-color: #F2F6FC;
  padding-top: 16px;
  padding-bottom: 64px;

  &__title {
    margin-bottom: 64px;
  }

  a, a:hover {
    text-decoration: none;
  }

  .item {
    width: 100%;
    transition: all .3s ease;

    &:hover {
      cursor: pointer;
      transform: translateY(-5px);

      .item__title {
        color: #003462;
      }
    }

    &__image {
      height: 200px;
      background: #F8F8F8;
      border-radius: 4px;
      object-fit: cover;
      object-position: center;
    }

    &__date {
      font-weight: 300;
      font-size: 16px;
      line-height: 22px;
      color: #4A4A49;
    }

    &__title {
      text-align: left;
      font-size: 18px;
      margin: 18px 0 8px;
      transition: all .3s ease;

      &.client_title{
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        margin: 16px 0 8px;
      }

      &.case_title{
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
        margin: 0 0 8px;
      }
    }
  }

  &__slider {
    margin: 35px auto 0 auto;
    max-width: 1170px;

    .owl-stage {
      padding-top: 5px;
    }

    &.owl-carousel {
      .owl-nav {
        .owl-prev {
          &::before {
            content: '\e912';
          }
        }

        .owl-next {
          &::before {
            content: '\e911';
          }
        }
      }

      .owl-nav {
        .owl-prev, .owl-next {
          height: 30px;
          opacity: 0.4;
          transition: all .3s ease;

          &::before, &::after {
            font-size: 38px;
            color: #003462;
          }

          &:hover {
            opacity: 1;
          }
        }

        .owl-prev {
          left: -10px;
          position: relative;
        }

        .owl-next {
          right: -10px;
          position: relative;
        }
      }
    }
  }
}


@media screen and (max-width: 576px) {
  .related {
    padding-bottom: 30px;

    &__slider {
      max-width: 85%;
    }
  }
}
