$max-width-sm: 992px;

.specification {
  &__wrapper {
    margin: 60px auto 60px;
    display: flex;
    align-items: center;
    @media(max-width: 1000px) {
      width: 90%;
    }
    @media(max-width: $max-width-sm) {
      flex-direction: column;
      width: 100%;
      max-width: 500px;
      margin: 20px auto 40px;
    }
  }

  &__image {
    min-width: 30%;
    width: 600px;
    @media(max-width: $max-width-sm) {
      width: auto;
    }

    img {
      width: 100%;
      max-height: 500px;
    }
  }

  &__list {
    margin-left: 20px;
    width: 100%;
    max-width: 495px;
    @media(max-width: $max-width-sm) {
      width: 100%;
      margin: 30px auto 0;
    }
  }

  &__elem {
    display: flex;
    justify-content: space-between;
    padding: 6px 10px;


    &:nth-child(n) {
      background-color: #F2F6FC;
    }

    &:nth-child(2n) {
      background-color: #FFFFFF;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 16px;
    width: 100%;
    max-width: 200px;
    padding-right: 20px;
    color: #4A4A49;
  }

  &__info {
    width: 100%;
    font-weight: 400;
    color: #4A4A49;
  }

  &__button {
    margin-top: 25px;
    position: relative;
    width: 260px;

    svg {
      position: absolute;
      top: 50%;
      transform: translate(14px, -50%);
      width: 20px;
      height: 20px;
    }

    button {
      background: #005CA9;
      border-radius: 4px;
      outline: 0;
      border: 0;
      padding: 10px 14px 10px 40px;
      font-weight: 700;
      letter-spacing: 0.02em;
      font-size: 16px;
      color: #FFFFFF;
      width: 100%;
      transition: .3s;

      &:hover {
        background: #003462;
      }
    }
  }
}
