.video-gallery {

  &__item {
    .item__text {
      font-weight: bold;
      font-size: 20px;
      line-height: 27px;
      text-align: center;
      color: #4A4A49;
      position: absolute;
      left: 0;
      bottom: 25px;
      width: 100%;
      transition: all .4s ease;
    }
  }

  .container {
    max-width: 1280px;
    padding-left: 90px;
    padding-right: 90px;

    @media screen and (max-width: 576px) {
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 80px;
    }
  }

  .owl-carousel {
    height: 350px;

    .owl-stage-outer, .owl-stage {
      height: 100%;
      z-index: 2;
    }

    .owl-item {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      position: relative;
      z-index: 1;

      .embed-youtube-video {
        width: 316px;
        border-radius: 0;
        height: 217px;
        transition: all .4s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        transform-origin: center;

        @media screen and (min-width: 1200px) {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%) scale(1);

          &.is-play {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 600px;
            height: 350px;
            background: #000;
            z-index: 2;

            .popup__close {
              top: -3px;
              right: -3px;
              background: #fff;
              padding: 23px 23px 20px 20px;
              border-bottom-left-radius: 50%;
            }
          }
        }

        @media screen and (max-width: 1200px) {
          width: 600px;
          height: 340px;

          .popup__close {
            display: none;
          }
        }

        @media only screen and (max-width: 768px) {
          height: 280px;
        }

        &__overlay {

          &::after {
            opacity: 0;
            transition: all .4s ease;
          }
        }

        &__play-wrap {
          pointer-events: none;
          visibility: hidden;
          transition: all .4s ease;
          opacity: 0;
        }
      }

      &.center {
        z-index: 3;

        .item__text {
          color: #005CA9;
          bottom: 0;
        }

        .embed-youtube-video {
          &:not(.is-play) {
            transform: translate(-50%, -50%) scale(1.25);
          }

          @media screen and (max-width: 1200px) {
            transform: scale(1);
          }

          &__overlay {
            &::after {
              opacity: 1;
            }
          }

          &__play-wrap {
            transition: all .4s ease;
            opacity: 1;
            visibility: visible;
            pointer-events: all;
          }
        }
      }
    }

    .owl-dots {
      display: none;
    }

    .owl-nav {
      height: 63px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;

      @media screen and (max-width: 576px) {
        top: initial;
        bottom: -80px;
      }

      .owl-prev, .owl-next {
        position: absolute;
        top: 15px;
        background: #F2F6FC;
        color: #005CA9;
        width: 63px;
        height: 63px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 51%;

        &:before {
          font-size: 19px;
        }

        &.disabled {
          filter: grayscale(100%);
          opacity: .7;
        }
      }

      .owl-prev {
        left: -45px;

        @media screen and (max-width: 576px) {
          left: calc(50% - 40px);
        }
      }

      .owl-next {
        right: -45px;

        @media screen and (max-width: 576px) {
          right: calc(50% - 40px);
        }
      }
    }
  }
}