.product-back {
  margin-top: 32px;

  @media (min-width: 1021px) {
    display: none;
  }

  &__link {
    color: #005CA8;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.6;
  }

  &__icon {
    font-size: 13px;
    margin-right: 5px;
  }
}