.p-about {

  .content {
    padding-bottom: 0;
  }

  .history {

    .sidebar {
      margin-top: 17px;

      &__item {
        box-shadow: none;
        padding: 0;
        position: relative;

        &--download a::before {
          display: none;
        }

        .info {
          position: absolute;
          width: 100%;
          bottom: 6px;
          left: 0;

          h3 {
            font-weight: 600;
            font-size: 18px;
            line-height: 25px;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            text-align: center;
            color: #003462;
            margin-bottom: 18px;
          }

          .wrapper {
            display: flex;
            border-radius: 0 0 4px 4px;
            overflow: hidden;

            div {
              width: 100%;
              border-left: none;

              & + div {

                border-left: 1px solid #fff;
              }

            }

            a {
              background-color: #005CA9;
              font-family: 'Open Sans', sans-serif;
              font-style: normal;
              font-weight: 600;
              font-size: 18px;
              line-height: 25px;
              color: #FFFFFF;
              width: 100%;
              display: block;
              padding: 12px 0;
              text-align: center;
              text-decoration: underline;

              &:hover {
                text-decoration: none;
              }
              
              @media (min-width: 1201px) {
                text-decoration: none;
              }
            }
          }
        }
      }
    }

    .h2 {
      margin-top: 0;
      margin-bottom: 24px;
      font-size: 28px;
      line-height: 1.3;
      font-weight: 600;
      text-align: left;

      @media (min-width: 1201px) {
        font-size: 32px;
        margin-top: 5px;
        margin-bottom: 30px;
      }

      &:after {
        display: none;
      }
    }

    .history__wrap {
      display: flex;
      justify-content: space-between;

      .history__img {
        display: none;
        margin-right: 40px;
        flex-basis: 50%;

        .img__container {
          margin-left: auto;
          text-align: right;
          padding-top: 25px;
          max-width: 528px;

          img {
            max-width: 100%;
          }

        }
      }

      .history__text {
        max-width: 800px;
        margin: 0 auto;
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 1.5;

        @media (min-width: 1201px) {
          line-height: 160%;
        }

        sub {
          font-size: 75%;
          line-height: 0;
          position: relative;
        }

        &--center {
          text-align: center;

          .history__button {
            text-align: center;
            margin-top: 50px;

            i {
              margin-left: 10px;
              font-size: 18px;
              vertical-align: text-top;
            }

          }
        }

      }
    }
  }

  .team {
    margin-top: 40px;
    background-color: $color-bg-light-blue;
    background-image: url("/wp-content/themes/classy/images/bg/our_team.jpg");
    background-size: cover;
    padding: 60px 0 85px 0;

    h2 {
      margin-top: 0px;
      margin-bottom: 32px;
      font-size: 28px;
      font-weight: 600;
      text-align: center;
      line-height: 1.3;

      @media (min-width: 1201px) {
        font-size: 32px;
        margin-top: 20px;
        margin-bottom: 55px;
      }

      &:after {
        display: none;
      }
    }

    &__members {
      justify-content: center;

      .member {
        min-height: 100%;
        background: #fff;
        border-radius: 8px;
        overflow: hidden;
        max-width: 320px;
        width: 100%;
        margin-right: 47px;
        box-shadow: 0 12px 20px rgba(0,0,0,.04);

        @media (min-width: 1201px) {
          box-shadow: none;
        }

        &__content {
          padding: 21px 21px 12px 25px;
        }

        &:last-child {
          margin-right: 0;
        }

        &__image {
          height: 323px;
          background-position: center;
          background-size: cover;
        }

        &__content {
          padding: 24px;

          @media (min-width: 1201px) {
            padding: 22px 22px 32px 22px;
          }
        }

        &__name {
          color: #003462;
          font-size: 20px;
          line-height: 1.3;
          text-align: center;
          font-weight: 600;

          @media (min-width: 1201px) {
            color: #333333;
            font-weight: bold;
            font-size: 18px;
            text-align: left;
          }
        }

        &__post {
          margin-top: 2px;
          margin-bottom: 14px;
          font-style: normal;
          font-weight: 300;
          font-size: 16px;
          line-height: 20px;
          text-align: center;

          @media (min-width: 1201px) {
            margin-top: 7px;
            margin-bottom: 12px;
            text-align: left;
          }
        }

        &__phone {
          font-weight: 300;
          font-size: 16px;
          line-height: 20px;
          text-align: center;
          color: #005CA9;

          @media (min-width: 1201px) {
            color: #333333;
            text-align: left;
          }

          i {
            font-size: 16px;
            color: #005CA9;
            display: none;

            @media (min-width: 1201px) {
              display: inline;
            }
          }

          a {
            color: inherit;
          }
        }

        &__email {
          margin-top: 4px;
          font-size: 16px;
          text-align: center;

          @media (min-width: 1201px) {
            margin-top: 6px;
            text-align: left;
          }

          i {
            font-size: 16px;
            color: #005CA9;
            display: none;

            @media (min-width: 1201px) {
              display: inline;
            }
          }

          a {
            color: #005CA9;
          }
        }

        &__text {
          margin-top: 15px;
          font-size: 16px;
          line-height: 20px;
        }
      }

      .owl-nav {
        top: 130px !important;
      }
    }
  }

  @media screen and (max-width: $width-l) {

    .history {
      display: block;

      .history_img {

        .img_container {
          padding-top: 0;
          margin: 0 auto;
        }

      }

    }

  }

  @media screen and (max-width: $width-s) {

    .team {
      margin-top: 40px;
      padding: 30px 0 48px 0;
    }

  }

}

@media screen and (max-width: 992px) {

  .p-about {

    .history {

      &__sidebar {
        width: 100%;
        max-width: 335px;
        margin-left: auto !important;
        margin-right: auto !important;
      }

      .sidebar__item {
        img {
          width: 100%;
          //display: none;
        }

        .info {
          //position: static;
          //max-width: 768px;
          //margin: auto;
        }
      }
    }

    .history__wrap {
      flex-direction: column;

      .history__text {
        max-width: initial !important;
      }

      .sidebar {
        margin-top: 32px;
        margin-left: 0;
      }
    }

    .team {
      margin-top: 20px;

      &__members {
        flex-direction: column;
        align-items: center;

        .member {
          margin-right: 0;
          margin-bottom: 30px;

          &__image {
            background-repeat: no-repeat;
          }

          &:last-child {
            margin-bottom: 0;
            margin-right: 0;
          }
        }
      }
    }
  }

}
