.page-template-classy-vacancies {
  background: linear-gradient(0deg, rgba(242, 246, 252, 0.45), rgba(242, 246, 252, 0.45)), linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
}

.case {
  max-width: 900px;
  padding-bottom: 60px;
  margin: -50px auto 0;

  h2{
    margin-top: 30px;
  }
  @media screen and (max-width: 1200px) {
    margin: -30px auto 0;
  }
  @media screen and (max-width: 992px) {
    padding: 0 15px;
  }
  @media screen and (max-width: 575px) {
    padding-top: 20px;
  }

  &__item__title {
    font-weight: 600;
    font-size: 38px;
    line-height: 130%;
    color: #4A4949;
  }

  &__download {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    margin-top: 40px;

    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-decoration: none !important;
    color: #005CA9;
    transition: all .5s ease;

    span {
      position: relative;

      &::before {
        content: "";
        height: 1px;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: #005CA9;
        transition: all .5s ease;
      }
    }

    &:hover {
      color: #003462;

      span {
        &::before {
          content: "";
          opacity: 0;
        }
      }
    }

    i {
      margin-right: 10px;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */

    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-align: left;
    color: #005CA9;
    margin-bottom: 12px;

    &::after {
      content: none;
    }
  }

  &__content {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #4A4A49;
    margin-top: 30px;

    strong {
      font-weight: 600;
      font-size: 32px;
      line-height: 130%;
      color: #003462;
      font-style: normal;
    }

    div {
      margin-bottom: 30px;
    }

    div:last-child {
      margin-bottom: 0;
    }

    img {
      display: block;
      max-width: 100%;
      height: auto;
      margin: 50px auto 80px;
    }
  }

  &__solution {
    padding: 80px 0;
    margin: 20px 0 80px;
    background-position: center;
    background-size: cover;
    @media screen and (max-width: 992px) {
      padding: 20px 0;
      margin: 50px 0 20px;
      text-align: center;
    }

    .container {
      max-width: 900px;
      margin: 0 auto;
      padding: 0;
      @media screen and (max-width: 992px) {
        padding: 15px;
      }
    }

    &__title {
      font-weight: 600;
      font-size: 32px;
      line-height: 130%;
      color: #003462;
      text-align: left;
      margin-bottom: 12px;
      margin-top: 0;
      @media screen and (max-width: 992px) {
        text-align: center;
      }

      &::after {
        content: none;
      }
    }

    &__text {
      font-weight: 400;
      font-size: 18px;
      line-height: 150%;
      color: #4A4A49;
    }

    &__button {
      padding: 12px 32px;
      display: block;
      max-width: 353px;
      width: 100%;
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: #FFFFFF;
      background: linear-gradient(90deg, #005CA9 0%, #003462 122.6%);
      border-radius: 4px;
      z-index: 2;
      text-decoration: none !important;
      position: relative;
      overflow: visible;
      margin: 40px 0 10px;
      transition: all .5s ease;
      @media screen and (max-width: 992px) {
        margin: 20px auto 10px;
        &:hover {
          filter: brightness(1.2);
        }
      }

      &:before {
        content: "";
        background: linear-gradient(90deg, #005CA9 0%, #003462 122.6%);
        opacity: 0.25;
        border-radius: 4px;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        left: 0;
        top: 50%;
        transform: translateY(-50%) scaleY(1.35) scaleX(1.04);
        transition: all .5s ease;
        @media screen and (max-width: 992px) {
          display: none;
        }
      }

      &:after {
        content: "";
        background: linear-gradient(90deg, #005CA9 0%, #003462 122.6%);
        opacity: 0.1;
        border-radius: 4px;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        left: 0;
        top: 50%;
        transform: translateY(-50%) scaleY(1.7) scaleX(1.09);
        transition: all .5s ease;
        @media screen and (max-width: 992px) {
          display: none;
        }
      }

      &:hover {
        &:before {
          transform: translateY(-50%) scaleY(1.7) scaleX(1.09);
        }

        &:after {
          transform: translateY(-50%) scaleY(1.35) scaleX(1.04);
        }
      }
    }
  }

  &__specifications {
    &__container {
      max-width: 1152px;
      width: 100%;
      margin: auto;
      padding: 15px;
      @media screen and (max-width: 992px) {
        & > .wrapper {
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
      }
    }

    .wrapper {
      display: flex;
      justify-content: space-between;
      margin-top: 28px;

    }

    .left {
      max-width: 800px;
      width: 100%;

      table {
        display: block;
        width: 100%;
        @media screen and (max-width: 992px) {

          max-width: 100%;
          overflow: auto;
        }

        tbody {
          display: flex;
          flex-direction: column;
          @media screen and (max-width: 992px) {
            width: fit-content;
          }

          tr {
            display: flex;
            padding: 15px 24px;

            &:nth-of-type(2n+1) {
              background-color: #F7F8FB;;
            }

            td {
              display: block;
              font-weight: 400;
              font-size: 18px;
              line-height: 150%;
              color: #005CA9;
              @media screen and (max-width: 992px) {
                white-space: nowrap;
              }

              &:first-of-type {
                max-width: 190px;
                width: 100%;
                font-weight: 600;
                font-size: 18px;
                line-height: 150%;
                color: #4A4A49;
                @media screen and (max-width: 992px) {
                  min-width: 190px;
                }
              }
            }
          }
        }
      }
    }

    .right {
      background: linear-gradient(180deg, #EEF4FC 0%, #F2F6FC 100%), #FFFFFF;
      border-radius: 4px;
      padding: 55px;
      padding-top: 0;
      max-width: 296px;
      height: 295px;
      @media screen and (max-width: 992px) {
        background: none;
        height: auto;
        padding: 0;
        max-width: initial;
        .image {
          display: none;
        }
      }

      img {
        box-shadow: 0px 1.21217px 20px rgba(0, 0, 0, 0.1);
        margin-top: -37px;
      }

      .case__download {
        white-space: nowrap;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        margin-top: 22px;
        letter-spacing: 0.04em;

        span {
          position: relative;

          &::before {
            content: "";
            height: 1px;
            width: 100%;
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: #005CA9;
            transition: all .5s ease;
          }
        }

        &:hover {
          color: #003462;

          span {
            &::before {
              content: "";
              opacity: 0;
            }
          }
        }
      }
    }


  }

  &__product {
    margin-top: 186px;
    margin-bottom: 106px;
    @media screen and (max-width: 992px) {
      margin-top: 50px;
      margin-bottom: 50px;
      .text {
        text-align: center;
      }
    }

    .wrapper {
      display: flex;
      max-width: 100%;
      height: auto;
      @media screen and (max-width: 992px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      img {
        max-width: 495px;
        margin-right: 123px;
        @media screen and (max-width: 992px) {
          margin-right: 0;
          max-width: 90%;
          width: 100%;
          margin: auto;
        }

      }

      .case__solution__text {
        margin-top: 16px;
        margin-bottom: 32px;
      }

      .button {
        background: linear-gradient(90deg, #005CA9 0%, #003462 122.6%);
        transition: all .5s ease;

        &:hover {
          filter: brightness(1.2);
        }
      }
    }
  }
}
