.p-contacts {

    .contacts {
        padding-bottom: 120px;
        padding-top: 30px;

        .container {
            max-width: 1150px;
            margin: 0 auto;

            h1 {
                margin-top: 0px;

                @media (min-width: 768px) {
                    margin-top: 30px;
                }
            }
        }

        &__columns {
            h3 {
                margin-top: 20px;
                margin-bottom: 8px;
                text-align: left;
                color: $color-blue;
            }

            p {
                line-height: 22px;
            }
        }

        &__left {
            margin-right: 70px;
            max-width: 245px;
        }

        &__right {
            max-width: 320px;
        }

        .contact {
            &__text {
                margin-bottom: 12px;
                font-size: 16px;
            }

            &__info {
                margin-bottom: 6px;
                padding-left: 15px;
                position: relative;
                font-size: 16px;

                a {
                    color: #4A4A49;

                    &:hover {
                        color: #4A4A49;
                    }
                }

                i {
                    position: absolute;
                    top: 5px;
                    left: 0;
                    color: $color-light-blue;
                    font-size: 16px;
                }
            }

            &:first-child {
                h3 {
                    margin-top: 0;
                }
            }
        }

        .sidebar {

            &__item {
                min-height: 177px;
                min-width: 200px;
            }
        }
    }

    .contact-us {
        margin-bottom: -80px;
    }
}

@media screen and (max-width: 992px) {
    .p-contacts {
        .contacts {
            &__wrap {
                flex-direction: column;

                .sidebar {
                    max-width: 320px;
                    margin-right: 0;
                    margin-left: 0;
                    margin-top: 30px;
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .p-contacts {
        .contacts {
            padding-bottom: 70px;

            &__columns {
               flex-direction: column;
            }

            &__left {
                margin-bottom: 20px;
            }
        }
    }
}
