.engineering-page {
  .offers {
    padding-bottom: 45px;

    @media (min-width: 768px) {
      padding-bottom: 95px;
    }

    &__title {
      margin-top: 10px;
      margin-bottom: 30px;
    }

    &__under-title {
      max-width: 550px;
      margin: 0 auto;
      text-align: center;
    }

    &__list {
      flex-wrap: wrap;
      justify-content: space-between;
      margin-right: -20px;
      margin-left: -20px;
    }

    .offer {
      max-width: 50%;
      width: 100%;
      margin-top: 35px;
      padding-left: 20px;
      padding-right: 20px;
      align-items: center;

      @media (min-width: 768px) {
        margin-top: 70px;
      }

      &__image {
        max-width: 235px;
        margin-right: 23px;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;

        img {
          width: 100%;
          height: auto;
          display: block;
        }
      }

      &__icon {
        width: 39px;
        height: 39px;
        position: absolute;
        right: 0;
        top: 0;
        background: #FFFFFF;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 51%;

        img {
          width: 21px;
          height: 21px;
          object-fit: contain;
        }
      }

      &__title {
        font-size: 18px;
        line-height: 25px;
        text-align: left;
        margin-bottom: 10px;
      }

      &__points {
        padding: 0;
        margin: 0;

        li {
          list-style-type: none;
          font-weight: 300;
          font-size: 13px;
          line-height: 21px;
          margin-bottom: 5px;
          position: relative;

          &::before {
            content: '';
            position: absolute;
            left: -10px;
            width: 4px;
            height: 4px;
            background-color: #005CA9;
            top: 9px;
            border-radius: 51%;
          }

        }
      }
    }

    &__description {
      text-align: center;
      font-weight: 300;
      font-size: 13px;
      line-height: 21px;
      max-width: 960px;
      margin: 35px auto 0 auto;

      @media (min-width: 768px) {
        margin: 75px auto 0 auto;
      }
    }
  }

  .benefits {
    background-color: #F2F6FC;
    padding-top: 26px;
    padding-bottom: 64px;

    &__list {
      display: flex;
      margin-left: -15px;
      margin-right: -15px;

      .benefit {
        background: #FFFFFF;
        box-shadow: 0 12px 20px rgba(0, 0, 0, 0.04);
        border-radius: 8px;
        padding: 45px 40px 52px 40px;
        width: 100%;

        &__title {
          margin-bottom: 5px;
        }

        &__text {
          font-weight: 300;
          font-size: 13px;
          line-height: 21px;
          text-align: center;
          color: #4A4A49;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .engineering-page {
    .offers {
      .offer {
        &__image {
          max-width: 190px;
        }
      }

      br {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .engineering-page {
    .offers {
      &__list {
        flex-direction: column;
        align-items: center;

        .offer {
          max-width: 600px;
        }
      }
    }

    .benefits {
      &__list {
        margin-left: 0;
        margin-right: 0;
        flex-direction: column;

        .benefit {
          margin-left: auto;
          margin-right: auto;
          max-width: 768px;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .engineering-page {
    .offers {
      &__list {

        .offer {
          flex-direction: column;
          max-width: 350px;
          text-align: center;

          &__image {
            margin-bottom: 15px;
          }

          &__title {
            text-align: center;
          }

          &__points {
            li {
              &::before {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}