html {
  height: 100%;
  font-weight: 300;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: $color-gray;
  scroll-behavior: smooth;
}

a {
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: white;
  color: #333333;
  margin: 0;
  overflow-x: hidden;
  //opacity: 0;
  min-width: 320px;

  &.overflow-hidden {
    overflow: hidden;
  }

  &.m_ready {
    opacity: 1;

    .content {
      overflow: unset;
      height: auto;
    }

    .preloader-container {
      opacity: 0;
      z-index: -1;
    }
  }

  &.m_margintop {
    margin-top: 122px;

    &.logged-in {
      margin-top: 138px;
    }
  }

  &.home,
  &.p-epto-systems,
  &.p-media,
  &.page-template-classy-powertrains,
  &.page-template-classy-product-page {
    .content {
      padding: 0;
    }
  }
}




.content {
  flex-grow: 1;

  overflow: hidden;
  height: 0;
}

body {
  .content {
    padding: 48px 0 80px;

    @media (min-width: 1201px) {
      padding: 80px 0;
    }
  }

  &.home, &.p-epto-systems, &.p-media, &.p-products {
    .content {
      padding: 0;
    }
  }
}

//.content, .header {
//    @media screen and (max-width: 1280px) and (min-width: 1024px) {
//        padding: 0 30px;
//    }
//}

.container {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px; //а если так? проще вроде.

  //@media screen and (max-width: $width-l) {
  //    min-width: auto;
  //    width: 100%;
  //    padding: 0 40px;
  //}

  @media screen and (max-width: $width-s) {
    padding: 0 20px;
  }
}




