html {
    height: 100%;
    font-weight: 300;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: $color-gray;
}
  
body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background: white;
    color: #333333;
    margin: 0;
    overflow-x: hidden;

    &.m_margintop {
        margin-top: 122px;

        &.logged-in {
        margin-top: 138px;
        }
    }
}

header.header {
    padding-top: 40px;
    font-weight: 600;
    position: relative;
    z-index: 10;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .header__logo {
            img {
                width: 148px;
            }
        }

        .header__menu {

            .hamburger {
                display: none;
            }

            ul.menu__nav {
                list-style: none;
                display: flex;

                li.menu-item {
                    position: relative;
                    font-weight: 600;
                    margin: 0 15px;

                    a {
                        color: $color-blue;
                        padding: 0 0 15px 0;

                        &:after {
                            content: '';
                            display: block;
                            position: absolute;
                            left: 50%;
                            right: 50%;
                            height: 0;
                            top: 30px;
                            border: 1px solid $color-light-blue;
                            transition: 0.3s;
                            opacity: 0;
                        }

                        &:hover {
                            text-decoration: none;

                            &:after {
                                left: -10px;
                                right: -10px;
                                opacity: 1;
                            }
                        }
                    }

                    &.current_page_item {
                        &:after {
                            content: '';
                            display: block;
                            position: absolute;
                            left: -10px;
                            right: -10px;
                            height: 0;
                            top: 30px;
                            border: 1px solid $color-light-blue;
                        }
                    }
                }
            }
        }

        .header__lng {
            min-width: 148px;
            text-align: right;

            .lng-w {
                padding: 3px 10px;
                position: relative;
                color: $color-blue;
                display: inline-flex;
                align-items: center;
                cursor: pointer;
                border-radius: 10px;
                text-align: left;

                a {
                    color: $color-blue;

                    &:hover {
                        text-decoration: none;
                    }
                }

                i {
                    margin-left: 5px;
                    font-size: 7px;
                    transition: 0.3s;
                }

                .lng-dropdown {
                    display: none;
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 20px;
                    padding: 10px 0 0 0;

                    a {
                        display: block;
                        padding: 3px 10px;
                        border-radius: 10px;
                        background: #ebebeb;
                        color: $color-blue;

                        &:hover {
                            text-decoration: none;
                            background: $color-blue;
                            color: #fff;
                        }
                    }
                }

                &:hover {
                    background: #ebebeb;

                    .lng-dropdown {
                        display: block;
                    }

                    i {
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }

    @media screen and (max-width: $width-l) {
        background: white;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 2;
        padding: 20px;
        overflow: hidden;
        max-height: 68px;
        transition: 0.3s ease;
        box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.07);

        .container {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 0;

            .header__menu {
                padding-top: 10px;

                #menu-header {
                    flex-direction: column;
                    padding: 0;
                    margin: 0;

                    li {
                        margin: 0;

                        a {
                            display: block;
                            padding: 0 0 10px 0;

                            &:hover {
                                &::after {
                                    content: none;
                                }
                            }
                        }
                    }
                }

                .hamburger {
                    display: block;
                    position: absolute;
                    top: 2px;
                    right: 0;
                }
            }

            .header__lng {
                display: none;
                position: absolute;
                right: -9px;
                top: 44px;
            }
        }

        &.m_opened {
            max-height: 500px;

            .container {

                .header__menu {

                    #menu-header {
                        align-items: flex-start;

                        li {
                            a {
                                margin: 0 0 10px 0;
                                padding: 0;
                            }

                            &.current_page_item a {
                                border-bottom: 1px solid $color-light-blue;

                                &::after {
                                    content: none;
                                }
                            }

                            &::after {
                                content: none;
                            }
                        }
                    }
                }

                .header__lng {
                    display: block;
                }
            }
        }
    }
}

.content {
    flex-grow: 1;
}

body:not(.home) {
    .content {
        padding: 80px 0;
    }
}

.content, .header {
    @media screen and (max-width: 1280px) and (min-width: 1024px) {
        padding: 0 30px;
    }
}

footer.footer {
    background: $color-blue;
    font-weight: 600;

    .container {
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footer__adress {
        color: #fff;

        a {
            color: #fff;
        }
    }

    .footer__copyright {
        color: #fff;
    }

    @media screen and (max-width: $width-l) {
        padding: 20px;
        text-align: center;

        .container {
            flex-direction: column;
            justify-content: flex-start;
        }

        .footer__copyright {
            margin-top: 10px;
        }
    }
}

.container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;

    @media screen and (max-width: $width-l) {
        min-width: auto;
        width: 100%;
        padding: 0 40px;
    }

    @media screen and (max-width: $width-s) {
        padding: 0 20px;
    }
}
