html {
  height: 100%;
  font-weight: 300;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: $color-gray;
  scroll-behavior: smooth;
}

a {
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: white;
  color: #333333;
  margin: 0;
  overflow-x: hidden;
  //opacity: 0;
  min-width: 320px;

  &.m_ready {
    opacity: 1;

    .content {
      overflow: unset;
      height: auto;
    }

    .preloader-container {
      opacity: 0;
      z-index: -1;
    }
  }

  &.m_margintop {
    margin-top: 122px;

    &.logged-in {
      margin-top: 138px;
    }
  }

  .content {
    padding: 80px 0;

    @media screen and (max-width: $width-l) {
      padding: 40px 0;
    }
  }

  &.home,
  &.p-epto-systems,
  &.p-media,
  &.page-template-classy-powertrains,
  &.page-template-classy-product-page {
    .content {
      padding: 0;
    }
  }
}

header.header {
  padding-top: 40px;
  font-weight: 600;
  position: relative;
  z-index: 10;
  font-size: 16px;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header__logo {
      img {
        width: 128px;
        image-rendering: -moz-crisp-edges; /* Firefox */
        image-rendering: -o-crisp-edges; /* Opera */
        image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
        image-rendering: crisp-edges;
        -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
      }
    }

    .header__menu {

      .hamburger {
        display: none;
        -webkit-tap-highlight-color: transparent;
      }

      ul.menu__nav {
        list-style: none;
        display: flex;
        padding: 0 0 0 10px;

        .sub-menu {
          display: none;
          position: absolute;
          z-index: 1;
          left: -30px;
          list-style: none;
          background: #FFFFFF;
          box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
          border-radius: 3px;
          padding: 10px 0;
          top: calc(100% + 10px);
          
          @media screen and (max-width: 1200px) {
            position: relative;
            top: unset;
            left: unset;
            order: 1;
            width: 100%;
            box-shadow: unset;
            padding: 0;
          }

          * {
            margin: 0;
            padding: 0;
          }

          a {
            color: #4A4A4A;
            text-decoration: none;
            white-space: nowrap;
            padding: 10px 32px;
            display: block;
            font-size: 16px;
            line-height: 19px;

            @media screen and (max-width: 1200px) {
              font-size: 14px;
              line-height: 135%;
              padding: 10px 20px;
            }

            &::after {
              display: none !important;
            }

            &:hover {
              @media screen and (min-width: 1201px) {
                color: #005CA8;
                font-weight: 600;
                background: rgba(0, 92, 168, .05);
              }
            }
          }
        }

        &>li.menu-item-has-children {

          @media screen and (max-width: 1200px) {
            display: flex;
            flex-flow: row-reverse wrap;
            justify-content: space-between;
            align-items: center;
            row-gap: 10px;
            padding-right: 0 !important;
          }
          
          &.active {
            .sub-menu {
              display: block;
            }

            &::before {
              transform: rotate(180deg);
            }
          }

          &::before {
            display: none;
            width: 20px;
            height: 20px;
            content: '';
            background: url('../images/icons/icon_dropdown.svg') center no-repeat;
            background-size: contain;
            transition: all ease .4s;

            @media screen and (max-width: 1200px) {
              display: block;
            }
          }

          &:hover {
            @media screen and (min-width: 1201px) {
              &>a::before {
                transform: rotate(-180deg);
              }
            }
          }

          &>a {
            padding-right: 18px !important;
            position: relative;

            &::after {
              display: none !important;
            }

            &::before {
              position: absolute;
              top: 4px;
              right: 0;
              width: 14px;
              height: 14px;
              transform: rotate(0);
              content: '';
              background: url('../images/icons/icon_dropdown.svg') center no-repeat;
              background-size: contain;
              transition: all ease .4s;

              @media screen and (max-width: 1200px) {
                display: none;
              }
            }
          }
        }

        &>li.menu-item--gradient {
          &>a {
            background: linear-gradient(90deg, #0575E6 0.01%, #005CA8 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }

          &.menu-item-has-children {
            @media screen and (max-width: 1200px) {
              &::before {
                background: url('../images/icons/icon-dropdown-blue.svg') center no-repeat;
                background-size: contain;
              }
            }

            &>a::before {
              background: url('../images/icons/icon-dropdown-blue.svg') center no-repeat;
              background-size: contain;
            }
          }
        }

        &>li.menu-item {
          position: relative;
          font-weight: 600;
          margin: 0 13px;

          @media screen and (max-width: 1200px) {
            margin: 0;
          }

          &:hover {
            @media screen and (min-width: 1201px) {
              ul.sub-menu {
                display: block;
              }
            }
          }

          &>a {
            color: $color-blue;
            padding: 0 0 15px 0;
            font-weight: inherit;

            @media screen and (max-width: 1200px) {
              padding: 0;
              margin: 0;
            }

            &:after {
              content: '';
              display: block;
              position: absolute;
              left: 50%;
              right: 50%;
              height: 0;
              top: 30px;
              border-top: 2px solid $color-light-blue;
              transition: 0.3s;
              opacity: 0;
            }

            &:hover {
              text-decoration: none;

              &:after {
                left: -10px;
                right: -10px;
                opacity: 1;
              }
            }
          }

          &.current-menu-item, &.current-menu-parent {

            //&:after {
            //  content: '';
            //  display: block;
            //  position: absolute;
            //  left: -10px;
            //  right: -10px;
            //  height: 0;
            //  top: 30px;
            //  border-top: 2px solid $color-light-blue;
            //}

            //&.underline {
            //
            //}

            //&.no-underline {
            //  &:after {
            //    display: none;
            //  }
            //
            //  a {
            //    color: #005CA9;
            //  }
            //}
          }
        }
      }
    }

    .header__right {
      display: flex;
      align-items: center;

      &-text {
        display: flex;

        > span {
          color: #CFCFCF;
          margin: 0 7px;
          font-size: 14px;
        }
      }

    }


    .header__phone {
      .icon {
        margin-right: 5px;
        transform: translateY(2px);
      }

      a {
        display: flex;
        align-items: center;
        color: #003462;
        text-decoration: none;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          width: 0;
          border-top: 2px solid #005CA9;
          top: 30px;
          display: block;
          left: 50%;
          transform: translateX(-50%);
          opacity: 0;
          transition: all .35s ease;
        }

        &:hover {
          &::before {
            opacity: 1;
            width: 100%;
          }
        }
      }
    }

    .header__lng {
      .lng-w {
        position: relative;
        color: $color-blue;
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        text-align: left;
        text-transform: uppercase;

        a {
          color: $color-blue;

          &:hover {
            text-decoration: none;
          }
        }

        i {
          margin-left: 5px;
          font-size: 7px;
          transition: 0.3s;
        }

        .lng-dropdown {
          opacity: 0;
          visibility: hidden;
          position: absolute;
          left: 0;
          right: 0;
          top: 20px;
          transition: all .4s ease;

          a {
            display: block;
            color: $color-blue;
          }
        }

        &:hover {
          .lng-dropdown {
            opacity: 1;
            visibility: visible;
          }

          i {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  @media screen and (max-width: $width-xl) {
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    //overflow: hidden;
    //padding: 20px;
    max-height: 68px;
    transition: 0.3s ease;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.07);
    padding-top: 0;

    .container {
      max-height: inherit;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 20px;

      .header__right {
        width: 100%;
        flex-direction: column;
        opacity: 0;
        visibility: hidden;
        transition: all .2s ease;
        pointer-events: none;
        transition-delay: 0s;
        padding-top: 30px;
        margin-left: -13px;
      }

      .header__menu {
        max-height: inherit;
        padding-top: 20px;
        pointer-events: none;


        .menu__nav {
          flex-direction: column;
          padding: 0;
          margin: 0;
          opacity: 0;
          visibility: hidden;
          transition: all .2s ease;
          transition-delay: 0s;

          &>li {
            margin: 0;

            &>a {
              display: block;
              padding: 0 0 10px 0;

              &:hover {
                &::after {
                  content: none;
                }
              }
            }
          }
        }

        .hamburger {
          display: block;
          position: absolute;
          top: 22px;
          right: 20px;
          pointer-events: all;
        }
      }

      .header__lng {
        display: none;
        position: static;
      }
    }

    &.m_opened {
      max-height: 600px;

      .container {

        .header__right {
          align-items: start;

          width: 100%;
          transition: all .2s ease;
          transition-delay: .3s;
          opacity: 1;
          pointer-events: auto;
          visibility: visible;
        }

        .header__menu {
          width: 100%;

          pointer-events: all;

          .menu__nav {
            opacity: 1;
            visibility: visible;
            transition: all .2s ease;
            row-gap: 20px;
            transition-delay: .3s;
            padding: 0;

            &>li {
              &>a {
                margin: 0 0 10px 0;
                padding: 0;
              }

              //&.current_page_item a {
              //  border-bottom: 1px solid $color-light-blue;
              //
              //  &::after {
              //    content: none;
              //  }
              //}

              &::after {
                content: none;
              }
            }
          }
        }

        .header__lng {
          display: block;
        }
      }
    }
  }
}

.content {
  flex-grow: 1;

  overflow: hidden;
  height: 0;
}

body {
  .content {
    padding: 80px 0;
  }

  &.home, &.p-epto-systems, &.p-media, &.p-products, &.p-references {
    .content {
      padding: 0;
    }
  }
}

//.content, .header {
//    @media screen and (max-width: 1280px) and (min-width: 1024px) {
//        padding: 0 30px;
//    }
//}

footer.footer {
  position: relative;
  background: $color-blue;
  font-weight: 300;
  z-index: 10;

  .container {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .right{
    margin-left: 10px;
    @media (max-width: 868px) {
      margin-left: 0px;
      margin-top: 10px;
      ul{
        flex-direction: column;
      }
    }
    ul{
      flex-wrap: wrap;
    }
    li{
      max-width: 180px;
      width: 100%;
      @media (max-width: 110px) {
        max-width: 170px;
      }
    }

  }

  .footer {
    &__adress {
      color: #fff;

      a {
        color: #fff;
      }
    }
    &__logo{
      max-width: 112px;
      margin-bottom: 20px;
      img{
        filter: brightness(0) invert(1);
        display: block;
        max-width: 100%;
        height: auto;
      }
    }
    &__copyright {
      color: #fff;
      margin-right: 30px;
    }
    &__madeby {
      margin-left: auto;
      color: #ffffff;
      @media screen and (max-width: $width-l) {
        margin-left: 0;
      }
      a{
        color: #ffffff;
      }
    }
    &__top {

      .container {
        padding-bottom: 0;
        padding-top: 40px;
        @media (max-width: 1100px) {
         flex-direction: column;
        }
      }
    }

    &__bottom {
      padding-bottom: 40px;
    }

    &__menu {
      display: flex;
      @media (max-width: 1100px) {
        order: 2;
      }
      @media (max-width: 868px) {
        flex-direction: column;
        width: 100%;
      }
      ul {
        display: flex;
        padding: 0;
        margin: 0;
        @media (max-width: 868px) {
          justify-content: space-between;
        }
        &.menu__nav{

          &>li{
            margin-right: 56px;
            @media (max-width: 1100px) {
              margin-right: 10px;
            }
            @media (max-width: 868px) {
              margin-right: 56px;
            }
          }
        }
        .sub-menu{
          display: flex;
          flex-direction: column;
        }

        li {
          list-style-type: none;
          margin-right: 18px;
          white-space: nowrap;
          display: flex;
          flex-direction: column;
          &:last-child {
            margin-right: 0;
          }

          a {
            color: #ffffff;
            font-weight: 600;
            margin-bottom: 12px;
            font-style: normal;
            font-size: 16px;
            line-height: 22px;
          }

        }
        &#menu-footer-right-part{
          li a{
            display: block;
            margin-bottom: 25px;
            @media (max-width: 480px) {
              margin-bottom: 8px;
            }
          }
        }
        &.sub-menu{
          li a{
            font-weight: 300;
            font-size: 14px;
            margin-bottom: 8px;
          }
        }

        @media (max-width: 480px) {
          flex-direction: column;

          li {
            margin-right: 0;
            margin-bottom: 7px;
          }
        }
      }
    }

    &__socials {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      @media (max-width: 1100px) {
        order: 1;
        margin-bottom: 20px;
        align-items: flex-start;
      }
      .social {
        display: flex;
        align-items: center;
        font-weight: 300;
        color: #4A4A49;
        margin-right: 10px;
        background: rgba(255, 255, 255, .9);
        border-radius: 4px;
        padding: 4px;
        width: 22px;
        height: 22px;
        justify-content: center;
        transition: all .4s ease;

        &.facebook i {
          font-size: 13px;
        }

        &:last-child {
          margin-right: 0;
        }

        i {
          color: #003462;
          font-size: 14px;
        }

        &:hover {
          text-decoration: none;
          background-color: #8FBFE8;
        }
      }
    }
  }

  @media screen and (max-width: $width-l) {
    padding: 20px;

    .container {
      flex-direction: column;
      justify-content: flex-start;
    }

    .footer__copyright {
      margin-top: 10px;
    }
  }
}

.container {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px; //а если так? проще вроде.

  //@media screen and (max-width: $width-l) {
  //    min-width: auto;
  //    width: 100%;
  //    padding: 0 40px;
  //}

  @media screen and (max-width: $width-s) {
    padding: 0 20px;
  }
}


@media screen and (max-width: 1366px) and (min-width: 1200px) {
  header.header {
    padding-top: 20px;
    .container {
      .header {
        &__logo {
          img {
            width: 100px;
          }
        }

        &__menu {
          ul.menu__nav {
            li.menu-item {
              font-size: 13px;
            }
          }
        }

        &__lng {
          .lng-w {
            a {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  header.header {
    .container {
      .header__lng {
        .lng-w {
          .lng-dropdown {
            position: static;
            opacity: 1;
            visibility: visible;

            a {
              position: relative;
              margin-left: 12px;

              &::before {
                content: '|';
                position: absolute;
                height: 14px;
                font-size: 14px;
                top: 50%;
                transform: translateY(-50%);
                left: -12px;
                color: #cfcfcf;
                line-height: 1;
              }
            }
          }

          i {
            width: 0;
            pointer-events: none;
            opacity: 0;
          }
        }
      }
    }
  }
}
